[2017-05-25 14:22] OArtyomov opened #12 "CompanyCurrency is not registered for serialization"
In class JsonResourceTypeLocator you forgot to register class CompanyCurrency for serialization.
We need to use reflection for registration....Will be thanks if you fix it in next version of API.

[2017-05-25 16:07] diana-derose commented on #12
Great timing, i just released v2.9.2 yesterday with the fix for this.

[2017-05-25 16:07] #12 closed

[2017-06-13 16:03] LeonisX opened #13 "IAPlatformClient for different environments"
Hi 2 all SDK developers.

Now I use V3 Java API and faced with one difficulty.

I use `com.intuit.ia.connection.IAPlatformClient` class for receive accessToken. All work fine, but `IAPlatformClient` use hardcoded (private) `OAuthHelper`, it use hardcoded `IAHelperConfig`, it read properties from hardcoded file `ia.properties`.

Now I test application on `localhost`, and all work.

But after deploy

[2017-06-13 16:20] diana-derose commented on #13
Hi, You can create copy of ia.properties file in your project's resources folder and override the property values including callback url.
There's a sample here using an old version of the SDK that you might find useful
https://github.com/diana-derose/C2QB-Sample-Java/tree/master/src/main/resources

[2017-06-14 08:11] LeonisX commented on #13
Diana, thanks for quick response.

Let's explain.

Dev host: localhost:8080
Prod host: site-name.com

Callback urls for dev and prod must be different.

How this solved in our project (manual auth):

[code]

Now I migrate code to V3 Java SDK, and do not see the possibility of dynamically changing callback url.

What can you advise about this?

[2017-06-14 16:35] diana-derose commented on #13
Hi, One way to handle this is to have your configs (ia.properties file) in a separate folder for each of your environments and configure your build script to use env as a parameter and copy the env specific property file to the resources folder during build time.

[2017-06-14 16:35] #13 closed

[2017-07-03 18:26] OArtyomov opened #19 "Get deleted records"
No possibility to get ids of deleted records using this API, or I missed something

[2017-07-05 17:08] diana-derose commented on #19
Hi, For name list entities such as customer, vendor etc you can get the deleted records by querying using active flag as false.
Sample query to get deleted vendors - select * from vendor where active = false

For transaction entities such as invoice, bill etc the delete operation hard deletes the record, so there is no way to get the id back, unless you call CDC endpoint (Dataservice.executeCDCQue

[2017-07-05 17:08] #19 closed

[2017-07-11 21:27] ben-manes opened #23 "Excessive dependencies"
The `ipp-v3-java-devkit-pom` includes many compile time dependencies, such as the `maven-shade-plugin`, which make no sense. I am debugging an ASM conflict failure and this library is one of them using a very old version without shading, despite not seeing that in its usage. Please declare your dependencies correctly.

[code]

[2017-07-11 21:35] ben-manes commented on #23
Also please upgrade cglib to use a modern version of ASM. This is again causing frustrations due to ASM conflicts. You can use Maven's version plugin to ensure that your dependencies are up to date. Alternatively do not use low-level, error prone libraries if you do not plan on maintaining compatibility.

[2017-07-11 22:15] diana-derose commented on #23
Hi Ben - Thanks for the feedback. We are aware that the SDK currently uses older versions of many libraries some of which are probably not needed and we are working on updating them one at a time. We are already working on removal of "maven-shade-plugin" for the next release and asm/cglib upgrade is in the roadmap. I'll keep you posted.

[2017-07-11 22:16] ben-manes commented on #23
Thanks!

[2017-09-27 00:41] ede-n opened #26 "Timezone for metadata fields `createDateTime` and `updateDateTime` is unavailable"
The REST api returns a date time string with TimeZone, but the java SDK returns just the `Date` from which one cannot get the Timezone.

[code]

[2017-09-27 14:33] diana-derose commented on #26
Hi, The API returns date in PST, so does the SDK, however the SDK returns it in the following format "Tue May 17 10:36:03 PDT 2016" while the API returns it as 2016-05-17T10:36:03-07:00. Let me know if you are seeing anything different.

[2017-10-02 20:39] ede-n commented on #26
Thank you. Does that mean QuickBooks returns `createTime` always in `PST/PDT`?

[2017-10-02 23:23] diana-derose commented on #26
Yes, but let me also create a bug on our end to make sure SDK returns the same format as API.

[2017-10-03 20:44] ede-n commented on #26
Thank you.

[2017-10-05 20:46] #26 closed

[2017-10-11 01:14] psundar-bill opened #27 "finalize method intercepted by MyMethodInterceptor"
The MyMethodInterceptor intercepts the finalize method. This causes the ThreadLocal<Path> in GenerateQuery class to have a huge "alize.alize.alize... " consuming a lot of heap space.

The usage example is to create a proxy object using GenerateQuery.createQueryEntity(Customer.class)

[2017-10-11 16:12] diana-derose commented on #27
Hi, I'll add it to our backlog to look into this. We have had some issues with the methods in GenerateQuery class and I wouldn't recommend using it.
Use the executeQuery method in the DataService class instead. Here's a sample below-
https://github.com/IntuitDeveloper/SampleApp-CRUD-Java/blob/master/src/main/java/com/intuit/developer/sampleapp/crud/entities/customer/CustomerQuery.java

[2017-11-03 04:57] #27 closed

[2017-11-15 21:54] ashgupta1489 opened #31 "Calling Discovery API and Oauth Call under proxy setting."
I was getting connection refused when using java sdk under proxy. (works fine without it). We tried multiple approaches from setting up `Config.setProperty` and  system properties of http proxy. However, none worked.
On closer look of the source code, we see that `Dataservice` uses Http interceptors utilizing the proxy settings. However, `OAuth2PlatformClient`  & `DiscoveryAPIClient` use `HttpRequ

[2017-11-15 22:01] diana-derose commented on #31
Hi - You are right, there is no proxy support on the OAuth2 module. I'll add it in the next release which will be sometime next week.

[2017-11-17 15:39] ashgupta1489 commented on #31
Thanks !! @diana-derose

[2017-11-29 15:42] ashgupta1489 commented on #31
The new code to set proxy details  uses `PropertiesConfig` which is set in the `oauthclient.properties`. This property is part of the `oauth2-platform-api-3.0.3.jar` and therefore have to be copied with all internal settings.  Whereas, for `DataServices`, proxy is read from Config.

Do we have a centralized place to set the proxy or `oauthclient.properties` is intended to be replaced in custom app

[2017-11-30 14:08] diana-derose commented on #31
Hi - oauth2 and devkit libraries are intended to be used independently, hence adding the config to the same field will add unnecessary dependency. But looks like oauthclient.properties can't be overridden. Let me add those fields to OAuth2Config class, so you can set those fields while creating the object.

[2017-11-30 14:19] ashgupta1489 commented on #31
Thanks Diana.
Since proxy username and proxy password are not mandatory, If I comment out proxy username and proxy password  line from `oauthclient.properties,` I am getting `NullPointerException` in class `HttpRequestClient::setProxyAuthentication` method.

[2017-12-02 05:40] diana-derose commented on #31
Ok, please don't comment it then, just leave it blank. I'll fix this in the next release, I am targeting end of next week. Also, if you want you can send a pull request as well.

[2017-12-26 11:39] vishborade opened #34 "Null pointer exception on access token expiry"
I am using ipp-v3-java-devkit for QuickBooks integration. I am using OAuth2 for authentication. If the access token has expired I get a Null Pointer Exception from the [DeserializeInterceptor.java](https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/1a57ec13934ce3fc76ff3c273b84336d91ef6cc5/ipp-v3-java-devkit/src/main/java/com/intuit/ipp/interceptors/DeserializeInterceptor.java).
[code]

 I was e

[2017-12-29 17:02] diana-derose commented on #34
Hi - Would you be able to capture the response json sent by the API for token expiry, so I can take a look. Moving HandleResponseInterceptor after deserialization might cause errors in other scenarios. Also, please let me know what version of the SDK you are using.

[2017-12-29 18:12] vishborade commented on #34
Hello, please find below the json response received on token expiry:-
`2017-12-29 22:54:12,291 137199 DEBUG [com.intuit.logger] (org.springframework.jms.listener.DefaultMessageListenerContainer#2-1:) Decompressed Response Body : {"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed; errorCode=003200; statusCode=401","detail":"","code":"3200","element":null

[2017-12-29 18:15] diana-derose commented on #34
Thanks, which version of SDK are you using? A fix for this was added in v3.0.4

[2018-01-01 09:45] vishborade commented on #34
I think I was using older version v3.0.0. After switching to version 3.0.5 I can confirm that I am getting a AuthenticationException on token expiry. I will go ahead and close the issue. Thank you.

[2018-01-01 09:45] #34 closed

[2018-01-18 19:24] binlufluxx opened #35 "OAuth2PlatformClient.revokeToken doesn't return new revokeToken but only `success`"
When revokenToken successes, it doesn't return the raw response which contains new refreshToken.
https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/aa37ab513f5d6f4eb94cfa1f53dadf0086531d84/oauth2-platform-api/src/main/java/com/intuit/oauth2/client/OAuth2PlatformClient.java#L199

[2018-01-18 20:01] diana-derose commented on #35
Hi - RevokeToken invalidates the tokens, it doesn't return anything. If you need to refresh token, you should use revokeToken method.

[2018-01-18 20:03] #35 closed

[2018-06-05 07:56] davidseywald commented on #23
Same request for the java mail api (remove or update if possible). Thanks.

[2018-06-05 15:12] diana-derose commented on #23
Hi @davidseywald  - We'll update it to com.sun.mail v1.6.1 in the next release.

[2018-06-26 20:31] wendelicious opened #39 "Payments data and service classes?"
I see that there is the [`payments-reference-implementation`](https://github.com/IntuitDeveloper/SampleApp-ECommerce_Payments_SalesReceipt-Java/tree/master/libs/payments-reference-implementation) project embedded in its project, but I can't seem to find where the Payments SDK/lib _should_ be coming from.

The [tutorial online](https://developer.intuit.com/v2/ui#/emulator?workflow=ecommerce) shows

[2018-06-26 20:40] wendelicious commented on #39
Also, [as per your instructions](https://developer.intuit.com/docs/00_quickbooks_online/2_build/40_sdks/02_java/0002_install_the_java_sdk), should I really be using version 2.9.0 from March 2017?  Is there any reason I should _not_ be using 4.0.5 from last week?

[2018-06-26 20:43] wendelicious commented on #39
I just [saw this](https://developer.intuit.com/docs/00_quickbooks_payments/2_build/using_an_sdk_to_integrate_with_the_payments_api) which makes no sense to me.

What is the suggested path forward to charge a tokenized card within my Java application?

[2018-06-26 21:56] diana-derose commented on #39
Answered to your questions in the other GitHub repo. This SDK currently doesn't support Payment APIs.

[2018-06-26 21:56] #39 closed

[2018-07-05 08:00] davidseywald opened #40 "Qbo France Support"
Hello,
Can I use/configure this SDK for Qbo France. Since they have different endpoints,
it would be good if you could configure the country and it will automatically switch the endpoint urls.
For example in the documentation of the TrialBalance Report it states:

"SAMPLE QUERY
For non-FR locales:
BaseURL/v3/company/1386066315/reports/TrialBalance
For FR locale:
BaseURL/v3/company/1386066315/repor

[2018-07-05 14:14] diana-derose commented on #40
Thanks for the feedback, I'll add this feature in the next release in a couple of weeks.

[2018-07-05 18:28] diana-derose commented on #40
@davidseywald - Until the fix, you can pass the report name as a String as a workaround.
For France-
Report report = service.executeReport("TrialBalanceFR");
For others,
Report report = service.executeReport(ReportName.TRIALBALANCE.toString());

[2018-07-09 08:05] davidseywald commented on #40
@diana-derose - Thank you for the quick reply.
This workaround works.

[2018-08-29 09:33] tbigueres opened #41 "Fails to build with Maven version 3.5.2"
Hi,

I'm currently running into an issue with quickbooks.
It seems that I cannot get my project to build when I include the three following dependencies in my pom.xml  :

`                <dependency>
			<groupId>com.intuit.quickbooks-online</groupId>
			<artifactId>oauth2-platform-api</artifactId>
			<version>4.0.5</version>
		</dependency>
		<dependency>
			<groupId>com.intuit.quickbooks-online<

[2018-08-29 23:20] tbigueres commented on #41
Hi !
Yes indeed there is multiple versions of cgi. But I've seen that in the
package you included directly the classes instead of using the pom.xml ! So
this means we cannot exclude the cgi dependency when we import your package
!

Le mer. 29 août 2018 à 22:21, Diana De Rose <notifications@github.com> a
écrit :

[2018-08-29 23:26] diana-derose commented on #41
Hi @tbigueres  - Could you please point me to where the classes are included directly?
It is in the pom file as far as I know but I could have overlooked if the class was added as well.
https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/develop/pom.xml

[2018-09-03 12:33] davidseywald commented on #40
Another Question/Issue regarding QBO France. I am looking for the SIRET/SIREN Number of the company. Is this somewhere exposed in the sdk? Thanks.

[2018-09-10 11:16] davidseywald commented on #40
@diana-derose - Thank you. The RCS/Siren number will work for now. Though it would be nice in the future to also be able to get the Siret number(s).

[2018-09-14 16:53] diana-derose commented on #40
Thanks @davidseywald - I have created an enhancement request for the team to add this field in the API. Here's the internal jira no. (ACCTG-16436) for your reference. Closing this issue since the SDK will support once it's available in the API.

[2018-09-14 16:53] #40 closed

[2018-09-14 16:53] #41 closed

[2018-09-25 20:50] davidfercas opened #42 "TLSv1.2 ignored after commit f3bd1bfbc78123ae52c781626b6e97043ab5aedf"
Hi,

First of all, I guess the upgrade to TLSv1.2 is still in progress, but I started to use it today as my company is affected.

I just cheked and my code, a call to the method OAuth2PlatformClient.getUserInfo(String accessToken) is ignoring the TLSv1.2 specified in the properties file and used in the prepareClientSSL() method.
The constructor of the class "HttpRequestClient" has the following co

[2018-09-26 21:45] diana-derose commented on #42
Hi @davidfercas - Thanks for letting us know. It looks like PoolingHttpClientConnectionManager ignores custom SSLContext that is being set. We'll have to pass socketFactoryRegistry in the constructor when creating PoolingHttpClientConnectionManager. I'll update this in the next release but feel free to send a PR if you already have the fix on your end.

[2018-09-28 18:30] mariobyn opened #43 "Out of scope issue"
Hey all,

I'm having a problem while i am trying to create a customer for an invoice. The api throws me The access token does not have sufficient scope. When i am requesting the access token i specify the scope to be Accounting.

Am i doing something wrong? Do i need to specify other scopes?

Thanks,
Marius.

[2018-09-28 18:55] diana-derose commented on #43
Hi @mariobyn  - Can you check the base url in your app. This error can happen when you are using sandbox api url with prod tokens or vice-versa.
Here's the right url-
Sandbox: https://sandbox-quickbooks.api.intuit.com/v3/company
Production: https://quickbooks.api.intuit.com/v3/company

[2018-09-28 19:06] mariobyn commented on #43
Hey Diana,

Thanks for the response, you are right, i forgot about the intuit-config.xml, that i need to modify there the link. My bad. You saved my day!

Thank you,
Marius.

[2018-09-28 19:06] #43 closed

[2018-10-03 12:30] dmitrygusev opened #44 "Cookie rejected: Illegal 'domain' attribute "qbo.intuit.com". Domain of origin: "quickbooks.api.intuit.com""
Getting lots of mentioned warnings in our logs:

Production:

Sandbox:

Would be nice if we could clean these up somehow.

[2018-10-03 15:38] diana-derose commented on #44
Hi @dmitrygusev - Which version of the SDK are you using? This was fixed in v4.03 https://github.com/intuit/QuickBooks-V3-Java-SDK/releases/tag/4.0.3
Let me know if you are still seeing the warnings.

[2018-10-03 21:10] dmitrygusev commented on #44
We were still on 2.x, all fixed after updating to latest 4.0.8

[2018-10-03 21:10] #44 closed

[2018-11-24 02:30] Bigtuna00 commented on #23
Pull request #45 hopefully eliminates the build problems.

[2018-12-13 23:16] diana-derose commented on #23
Released this in v4.1.0

[2018-12-13 23:16] #23 closed

[2019-03-06 09:51] davidseywald opened #47 "QueryProcessingError: Invoice Email Validation"
Hello,
We updated from 5.0.1 to 5.0.2 and now we get this error message:

`{"Fault":{"Error":[{"Message":"Error processing query","Detail":"QueryProcessingError: To email address entered is invalid","code":"4002"}],"type":"Service"},"time":"2019-03-06T01:17:20.232-08:00"}`

It seems, it is possible to enter invalid email addresses in Invoices UI, but still save them, which causes then problems in

[2019-03-06 14:35] diana-derose commented on #47
Hi @davidseywald  - Can you share your request or email that you used. The error is probably not SDK related.

[2019-03-07 11:47] davidseywald commented on #47
@diana-derose I can reproduce that it works with 5.0.1 and does not work with 5.0.2 (maybe some validation was added?).

We are trying to get changed Invoices, via `executeCDCQuery`.
Since we do not have access to the QBO Company (only OAuth), we cannot check the invoice data.

[2019-03-07 17:23] diana-derose commented on #47
Are you able to enable logging and capture intuit_tid from the response header? If not, can you share the company id and the timestamp of the error, i can try to look through the logs.

Also, try one more thing - using v5.0.2 set the minor version to 35 context.setMinorVersion("35"); and then see if you still get the error.

[2019-03-12 09:52] davidseywald commented on #47
The companyId/realmid is: 123145774565544
Time was: 2019-03-06T01:17:20.232-08:00

Updating the Sdk, but setting minorVersion to 35 seems to solve the problem.
Thank you.

[2019-03-13 01:48] diana-derose commented on #47
Thanks, this looks like an error in the API, I have filed a bug with the team to troubleshoot this. Here is the bug id (PLEX-1263) for your reference. Will keep you updated on their progress, in the meantime please continue to use minor version 35.

[2019-03-18 09:20] kedarpanse opened #48 "ProxyConfig and NTCredentials"
HttpRequestClient setProxyAuthentication only supports UsernamePassword credentials.  Most of the proxies in corporate use NTCredentials.  Perhaps we can allow it if username contains a / or \ ?  Apache HTTP client does support NTCredentials.  Here is snippet we can use? @diana-derose please check.
[NTCredentials.txt](https://github.com/intuit/QuickBooks-V3-Java-SDK/files/2977234/NTCredentials.txt

[2019-03-18 22:34] diana-derose commented on #48
Thanks for the suggestion, let me review your PR and get back to you.

[2019-04-01 05:02] diana-derose commented on #48
Added in v5.0.3

[2019-04-01 05:02] #48 closed

[2019-04-01 05:05] diana-derose commented on #47
Hi @davidseywald  - Update on this bug. This happens when invoices have multiple email addresses associated with it. This is getting fixed on April 9th. I am closing this issue since it doesn't require any SDK updates.

[2019-04-10 10:02] davidseywald commented on #47
Hi @diana-derose,
We updated to latest Version 5.0.3, latest minor version and getting the same error with another company, when getting Invoice data.

2019-04-10 08:00:58.878: ERROR CODE:4002, ERROR MESSAGE:Error processing query, ERROR DETAIL:QueryProcessingError: To email address entered is invalid

Could you please advice/re-check? Thank you.

[2019-04-11 00:57] diana-derose commented on #47
Hi @davidseywald - Looks like the release was on hold due to internal code freeze (tax season), it is scheduled to go out on Apr 23rd. I'll keep this issue open and let you know when you can test. Sorry about that.

[2019-04-24 20:32] diana-derose commented on #47
@davidseywald  - Can you give it a try now?

[2019-04-25 08:58] davidseywald commented on #47
@diana-derose We are still getting the same error message:
com.intuit.ipp.exception.ServiceException: ERROR CODE:4002, ERROR MESSAGE:Error processing query, ERROR DETAIL:QueryProcessingError: To email address entered is invalid

For company realm id: 193514702392054

Thank you.

[2019-04-25 18:59] diana-derose commented on #47
Hi @davidseywald  - It looks like the changes haven't been pushed to clusters hosting Canadian companies yet due to code freeze for that region (Canadian tax season). You shouldn't see the error for non Canadian companies though. For Canadian companies the fix will go out on May 2nd.

[2019-05-01 01:05] aaronhudon-ts commented on #47
@diana-derose I am seeing this error using the REST API, no SDK.
[code]

[2019-05-01 01:06] aaronhudon commented on #47
@diana-derose

I am seeing this error when using the REST API.
[code]

[2019-05-01 01:09] diana-derose commented on #47
@aaronhudon  - Do you know if the company for which you are getting the error is a Canadian QuickBooks Online company? If not sure, send me your company id so I can check.

[2019-05-01 01:11] aaronhudon commented on #47
Yes, Canadian

[2019-05-01 01:12] diana-derose commented on #47
Thanks for confirming. See my comment above for Canadian companies, issue should be resolved after May 2nd. https://github.com/intuit/QuickBooks-V3-Java-SDK/issues/47#issuecomment-486797624

[2019-05-03 18:10] mlatzel commented on #47
We are still seeing this issue - independent of JavaSDK. Canadian company. May 3rd. PHP SDK. Same problem as described above. @diana-derose can you confirm when fix will be out?

[2019-05-03 18:27] diana-derose commented on #47
Hi @mlatzel - the release was pushed to today evening. I would suggest you hold off on testing, until I notify here that the fix is available.

[2019-05-06 03:37] diana-derose commented on #47
This issue should be resolved now for all locales including Canadian companies. @davidseywald @aaronhudon @mlatzel  - can you try again to see if your issues are resolved.

[2019-05-07 09:25] davidseywald commented on #47
@diana-derose It seems to work now, thank you!

[2019-05-07 12:50] mlatzel commented on #47
Yes, same here, thanks @diana-derose ! I

s this a good channel to watch updates regarding the API in general? Is there a different channel you recommend?

[2019-05-07 15:38] diana-derose commented on #47
Hi @mlatzel  - This repo is good to watch updates to the SDK. If you are interested for API updates in general then you should watch our release notes here https://developer.intuit.com/app/developer/qbo/docs/develop/release-notes/quickbooks-api-release-notes#quickbooks-online-v1909  or bug tracker https://help.developer.intuit.com/s/bug-tracker-page

[2019-05-07 15:38] #47 closed

[2019-06-14 08:31] davidseywald opened #50 "Customer/Vendor ContactName"
Hello,
In the Vendor and Customer class there is a field contactName:

[code]
But this seems to be always empty and is not described in the API documentation.
Which fields should be used to get the (full) name of this customer/vendor? DisplayName?
We are using QuickBooks java SDK 5.0.4.
Thank you

[2019-06-14 20:43] diana-derose commented on #50
Hi @davidseywald  - DisplayName or FullyQualifiedName is usually better. With FullyQualifiedName, you might see additional data appended the contact is a sub customer.

[2019-06-14 22:00] #50 closed

[2019-06-19 14:04] Tanvir5792 opened #51 "Not working in jdk 1.6 throw Unsupported major.minor version 51.0 exception"
I have integrate this class with my application and try to work on it but shows me Unsupported major.minor version..... as per you says that it will work on 1.6 and above . please can you guide me what should i do to handle this error.
![error](https://user-images.githubusercontent.com/52001866/59772339-36623b80-92c9-11e9-9cce-01b5aa3f54f4.png)

[2019-06-19 22:37] diana-derose commented on #51
@Tanvir5792 - which version of the SDK are you using?

[2019-06-20 05:09] Tanvir5792 commented on #51
ipp-v3-java-data 4.0.3
ipp-v3-java-devkit 4.0.3
oauth2-platform-api 4.0.3

[2019-06-20 21:55] diana-derose commented on #51
Hi - It looks like jackson-databind version 2.8 and above is not compatible with Java 6. There's a thread here where someone has asked for a java 6 compatible version https://github.com/FasterXML/jackson-databind/issues/2360. Not sure if they'll release one, if they do I can create an artifact for you with that work.
Other than that you can try to exclude that jar from the dependency and add a low

[2019-06-21 07:12] Tanvir5792 commented on #51
I had try this solution with lower version of jackson but still it shows same error until i have skipped use of jackson ...in that case we have to convert response manually to related class object .

[2019-06-21 08:16] mediocaballero commented on #51
Hi!
I'm from the other thread :-)

Just in case it helps, you can manually set the dependency for the latest java6-compatible version of jackson-databind, which is 2.7.9.5 with

[code]

Just keep in mind it has several[ detected vulnerabilities](https://www.cvedetails.com/vulnerability-list/vendor_id-15866/product_id-42991/version_id-271926/Fasterxml-Jackson-databind-2.7.9.5.html).

[2019-06-21 09:18] Tanvir5792 commented on #51
@mediocaballero Hii.. I had use jackson version 2.7.9.5 and try but still facing same error

[2019-06-24 14:29] Tanvir5792 commented on #51
@diana-derose  Hi i was facing issue related version but when i have removed use of ObjectMapper class  it seems like solved issue and working fine to get accessToken . but when i tried to call create customer API then again shows me version mismatch error.

ipp-v3-java-data 2.0.9
ipp-v3-java-devkit 4.0.3
oauth2-platform-api 4.0.3

So do you have any kind of Document that help me to integrate Quic

[2019-06-24 18:01] diana-derose commented on #51
Hi - As long as you have classes with jackson databank dependency, you'll get the error. Can you try excluding it and add version 2.7.9.5 as suggested above?

[2019-06-25 05:15] Tanvir5792 commented on #51
@diana-derose  Hi, I am already using jakcson verson 2.7.9.5 still getting same error.

[2019-06-27 07:58] davidseywald commented on #47
Hello @diana-derose ,
Not sure if this the same issue, but we are getting the same error messages again (extracting CDC Invoices):

`ERROR CODE:4002, ERROR MESSAGE:Error processing query, ERROR DETAIL:QueryProcessingError: To email address entered is invalid`

Company realm id: 545710125
As far as I can tell this is a US based company.

We are also getting a lot of 502 Bad Gateway errors, maybe th

[2019-06-27 15:59] diana-derose commented on #47
Hi @davidseywald  - Can you please create a ticket here since this is not SDK related. https://help.developer.intuit.com/s/contactsupport

[2019-07-03 08:24] davidseywald opened #52 "Use AccountSubTypeEnum instead of String in Account"
In `com.intuit.ipp.data.Account` there is a field:
[code]
There is also an Enum `com.intuit.ipp.data.AccountSubTypeEnum`.
Is it possible to use the Enum instead of a String (same as for `accountType` and `classification`) - assuming this is the same thing?

We are currently using `AccountSubTypeEnum.fromValue()` to convert the String to Enum,
but getting an `IllegalArgumentException` for "_IncomeT

[2019-07-08 16:52] diana-derose commented on #52
Hi @davidseywald  - Ideally enum would be the right option. However, we used string for account subtypes because there have been instances where the API has introduced new sub types without a minor version and this can cause serialization errors for clients using an older version of the SDK.

[2019-07-10 14:03] cjgratacos opened #53 "Documentation Update: Multi-threaded application"
Highly suggest a documentation update to help and point out that whenever working on a multi-threaded application and the [Config](https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/59f988d0776d46620d0b34711c411b2b5b1da06b/ipp-v3-java-devkit/src/main/java/com/intuit/ipp/util/Config.java) gets updated programmatically (instead of using the `config.xml`), the config needs to be updated on each th

[2019-07-10 17:42] diana-derose commented on #53
@cjgratacos  - Thanks for the feedback, I have created a story on our end to update the documentation. We'll probably take it up next sprint.

[2019-07-10 17:42] #52 closed

[2019-07-25 03:15] honsq90 opened #55 "Security vulnerability on ipp-java-qbapihelper@5.0.5"
Hello! We received a vulnerability check on the following.

Seems like org.openid4java:openid4java@1.0.0 is available but I'm not sure if that'll fix the xerces:xercesImpl version.

[code]

[2019-07-25 16:31] diana-derose commented on #55
Hi @honsq90  - Are you still using OpendId2.0 or OAuth1? If not, just remove that artifact from your project. We will be deprecating this artifact soon since Intuit has already deprecated OpenID2.0 and OAuth1 will also be deprecated later this year.
If the above doesn't work for you, just override it in your pom by adding a higher version of xerces xerces:xercesImpl:2.12.0 externally.

[2019-07-25 16:38] diana-derose commented on #53
Updated documentation- https://developer.intuit.com/app/developer/qbo/docs/develop/sdks-and-samples-collections/java/configuration

[2019-07-25 16:38] #53 closed

[2019-07-25 22:11] honsq90 commented on #55
will be moving to OAuth2 soon. will override it in that case. cheers :)

[2019-07-29 05:58] #55 closed, assigned to nobody

[2019-08-09 19:11] pfullbright-mf opened #56 "payments API doesn't support card track data"
Currently, the API doesn't support card track data. Is this planned? Can I contribute it? If not, can you give me a reason? We are migrating from old qbms, and this is a bit of a blocker, as we use track data in our existing qbms implementation.

[2019-08-11 05:51] diana-derose commented on #56
Hi @pfullbright-mf - Could you provide more details on what you mean by card track data?
The SDK has support for all operations mentioned in the APIReference below, let me know what's missing and I can add it. You are welcome to contribute as well.
https://developer.intuit.com/app/developer/qbpayments/docs/api/resources/all-entities/bankaccounts

[2019-08-12 14:44] pfullbright-mf commented on #56
Yes, try this charge call:
{
	"amount": 25.00,
	"currency": "USD",
	"card": {
		"name": "Dave Patient",
		"address": {
			"postalCode": "27519"
		},
		"cardPresent": {
			"track2": ";4055011111111111=19121015432112345678?"
		}
	},
	"context": {
		"mobile": "false",
		"isEcommerce": "false"
	},
	"capture": false
}

This is API that I understand to be fully supported, though not documented (I am not

[2019-08-12 22:06] diana-derose commented on #56
Thanks, I have confirmed with the team that these can be added to the API. I'll add it in the next release (next week). We'll also update the documentation.

[2019-08-12 22:22] pfullbright-mf commented on #56
Awesome! Thanks!

[2019-08-26 18:43] diana-derose commented on #56
Added this in v6.0.1

[2019-08-26 18:43] #56 closed, assigned to nobody

[2019-08-27 06:49] abdulwahidgul24085 commented on #47
minor 35 change fixed it for me.

[2019-10-17 19:14] diana-derose opened #60 "Improve code coverage"
Goal :
To improve the test coverage.

Coverage needed in the following projects:
[oauth2-platform-api](https://github.com/intuit/QuickBooks-V3-Java-SDK/tree/develop/oauth2-platform-api/src/test)
[payments-api](https://github.com/intuit/QuickBooks-V3-Java-SDK/tree/develop/payments-api/src/test)
[IPP-Java-Devkit](https://github.com/intuit/QuickBooks-V3-Java-SDK/tree/develop/ipp-v3-java-devkit/src/te

[2019-10-17 21:02] praveenadg commented on #60
I am going to take a dip at payments-api

[2019-10-18 17:48] yjain3326 commented on #60
I can take a look at oauth2-platform-api if this is still available.

[2019-10-18 18:49] diana-derose commented on #60
@yjain3326  - Sure go ahead

[2019-10-18 21:58] k-arjun commented on #60
I'll take a dip at some of the payments-api classes too.

[2019-10-18 23:11] cho8 commented on #60
Taking a look at the IPP-Java-Devkit tests

[2019-10-18 23:17] tarungulati1988 commented on #60
I'll add a few too. Will start with the interceptors.

[2019-10-18 23:19] diana-derose commented on #60
Awesome!!! thank you all of you!

[2019-10-19 00:17] amatiushkin commented on #60
adding test for callback interceptor

[2019-10-19 17:27] shivamagarwal7 commented on #60
@diana-derose, I will add some tests too.

[2019-10-19 23:41] symborsk commented on #60
@diana-derose Have added two PRs to increase coverage in:
[Payment-API](https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/68)
[v3-Java-Devkit](https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/69)

[2019-10-21 09:21] shettyvinay commented on #60
@diana-derose I would like to work on IPP-Java-Devkit coverage

[2019-10-21 16:43] jackykc commented on #60
Taking a look at payments-api, starting with model then adding some in services

[2019-10-21 17:52] megha276 commented on #60
@diana-derose Have added 1 PR to increase code coverage for Payment-API

[2019-10-21 18:31] pduvvur commented on #60
I can add tests for `ECheckService` in payments-api. @jackykc

[2019-10-21 19:28] amatiushkin opened #75 "Fault with error is getting eaten if response is null"
Need to clarify behaviour of [getCDCQueryResult(CDCResponse cdcResponse)](https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/develop/ipp-v3-java-devkit/src/main/java/com/intuit/ipp/interceptors/CallbackHandlerInterceptor.java#L243-L245).

Current implementation expects to populate CDCResult with **fault** object (`else-if` branch) if no responses available.
But this never happens because  [getQ

[2019-10-22 09:08] interactwithankush opened #76 "update project dependencies"
@diana-derose Creating this enhancement issue for hacktoberfest. Please add tag and validate

[2019-10-22 09:10] interactwithankush commented on #76
@diana-derose taking up this one

[2019-10-22 20:53] jackykc commented on #60
I'll take a look at the `TokenService` then move on to another service after

[2019-10-25 15:43] hallzac2 opened #82 "Fix Build Warnings"
There are a number of build issues from Maven:
[code]
In the future Maven may not support building malformed projects. Adding and bumping some versions should fix this.

[2019-10-28 21:04] #82 closed, assigned to nobody

[2019-10-29 01:53] #75 closed, assigned to nobody

[2019-10-29 01:54] #76 closed, assigned to nobody

[2019-10-29 22:33] harry0123 commented on #60
Hi y'all! I'm relatively new to this project so I'll increase coverage in some data classes (`com.intuit.payment.data`). Here's what my coverage report in IntelliJ is showing as of https://github.com/intuit/QuickBooks-V3-Java-SDK/commit/eaeb2e6ce90cb442dc966af92d9ad97132fa438f:
<img width="614" alt="Screen Shot 2019-10-29 at 3 28 50 PM" src="https://user-images.githubusercontent.com/2097770/678144

[2019-10-29 22:35] symborsk commented on #60
No
On Tue, Oct 29, 2019, 4:33 PM harry0123 <notifications@github.com> wrote:

[2019-10-29 22:37] symborsk commented on #60
Apologies the previous was an accidental apply via a smart watch.

-Johm

On Tue, Oct 29, 2019, 4:34 PM John Symborski <symborsk@ualberta.ca> wrote:

[2019-10-29 22:37] harry0123 commented on #60
No worries, mate! If there are other classes that I should focus on, let me know!

[2019-10-29 23:42] diana-derose commented on #60
Thank you all for the PR's, please keep them coming! @harry0123  - I just merged a few PRs some of which had tests for data classes. Please pull the latest code and start writing the tests to avoid duplication.

[2019-10-30 05:48] tfung commented on #60
@diana-derose I added the above PR! Please take a look.

[2019-10-31 07:43] vrohit13 commented on #60
@diana-derose Added tests for ChargeService https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/104

[2019-10-31 12:13] codefupanda commented on #60
@diana-derose Please check https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/107 adds tests for BankAccountService

[2019-11-01 02:35] diana-derose commented on #60
Hello everyone, all PR's are merged. With your help the code coverage rose from 33% to ~70%, especially payments-api rose from 11% to 92%. Great job everyone and thanks for contributing!!!!

[2019-12-02 00:32] Bigtuna00 opened #116 "Payment API tests fail on Windows"
For example `ServiceBaseTest.testSendRequest_successPostRequest:93`. It fails because the result contains `\r\n` whereas the expected value contains only `\n`. I assume it's because I'm on Windows. Not sure if the fix is to modify the expected value, or if there's some change needed in the API call?

[2019-12-02 00:46] Bigtuna00 commented on #116
Ok I think I see the problem. The class `JsonUtil` enables pretty printing in the `ObjectMapper` https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/623d2e421c3dfc4756b660d22188b9fb82863250/payments-api/src/main/java/com/intuit/payment/util/JsonUtil.java#L48 which means Jackson will use platform line endings. Assuming you want pretty printing, the test should be modified to do the same.

[2019-12-02 00:57] Bigtuna00 commented on #116
See pull request #117

[2019-12-02 01:01] Bigtuna00 opened #118 "Banned dependencies in release 6.0.2"
I'm trying to use release 6.0.2 as a dependency in another project. Maven complains about two banned dependencies:

[code]

These aren't dependencies in my project, they appear to come from https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/623d2e421c3dfc4756b660d22188b9fb82863250/ipp-v3-java-devkit/pom.xml#L35 and https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/623d2e421c3dfc4756b660d221

[2019-12-02 01:10] Bigtuna00 commented on #118
Added enforcer exclusions for these two and now I get:

[code]
For some reason excluding this one doesn't work...

[2019-12-03 20:56] rhamedy opened #119 "Apache commons-collection 3.2.1 has known vulnerabilities switch to 3.2.2"
## Problem
As per the reports https://www.kb.cert.org/vuls/id/576313/ , the common-collection 3.2.1 has security vulnerabilities.

This Apache **commons-collection 3.2.1** is pulled transitively through `commons-configuration` dependency.

The vulnerability seems to have been mitigated in the **commons-collection 3.2.2** as per https://commons.apache.org/proper/commons-collections/security-reports

[2019-12-04 08:18] #116 closed, assigned to nobody

[2019-12-04 08:19] #119 closed, assigned to nobody

[2019-12-24 01:31] #60 closed, assigned to praveenadg

[2020-02-13 21:17] plcarmel opened #121 "Split package com.intuit.ipp.core between java-devkit and java-data"
It makes it impossible to include both of those maven dependencies directly (i.e.e without some form of repackaging) in a Java 9 modules.

[2020-02-13 21:20] plcarmel opened #122 "There should be a module-info.class inside the jars"
So that those maven dependencies can be included in a Java 9 module without relying on automatic module naming.

#121 needs to be resolved first before this can be addressed.

[2020-02-18 18:57] diana-derose commented on #121
hey @plcarmel  - I have added a story in our backlog to address this. Here's the internal jira id  IDG-3475 for reference. We'll try to scope this work in our upcoming sprints. If you would like to contribute a fix for this, please send across a PR.

[2020-02-18 18:59] diana-derose commented on #122
Closing this one, will be handled by #121

[2020-02-18 18:59] #122 closed, assigned to nobody

[2020-02-23 22:41] mputnam-xima opened #123 "Cannot Deserialize Bank Account of Type 'BUSINESS_CHECKING'"
Hello,
I'm writing an app that's using the using the QuickBooks payments API to manage bank accounts. I'm getting an exception when I try to request bank accounts with type `BUSINESS_CHECKING`. It's a business to business app that needs access to business checking and savings accounts.

Relevant code in my app: `bankAccountService.getAllBankAccounts(customer.getId());`

Relevant line of stacktrace

[2020-02-24 02:56] diana-derose commented on #123
Hi @mputnam-xima  - Looks like new enum types were added to accountype. I am making a release next week, will include these changes as well.

[2020-02-24 19:37] mputnam-xima commented on #123
@diana-derose thank you

[2020-03-04 23:36] diana-derose commented on #123
Fixed in v6.0.4

[2020-03-04 23:36] #123 closed, assigned to nobody

[2020-03-06 18:08] mputnam-xima opened #125 "Cannot refresh oath access token on release 6.0.4"
I recently upgraded to release `6.0.4`. Refreshing the oath access token fails on this version, and downgrading to `6.0.2` fixed the problem for us. Here is a related stacktrace, and please let me know if I can provide any more info to help you solve the issue, we need `6.0.4` because it supports `BUSINESS_CHECKING` and `BUSINESS_SAVINGS` accounts:

[code]

[2020-03-06 18:49] e-d commented on #125
Following...

[2020-03-06 18:55] diana-derose commented on #125
Hi @mputnam-xima  - Could you run the dependency tree and see if there are any conflicts on the jackson versions? @e-d - Are you getting the error too?

[2020-03-06 20:32] mputnam-xima commented on #125
No conflicts in Jackson versions:
![see here](https://user-images.githubusercontent.com/49458285/76120434-b42cbb00-5fae-11ea-9ca6-8c227c09dd75.png)

However, I haven't been able to rule out some sort of environmental/deployment problem on our end. I'm working on it, will update if I find anything

[2020-03-06 21:00] mputnam-xima commented on #125
@diana-derose manually setting the Jackson version in my project to `2.9.10` (the same version used in the `develop` branch) fixed it for me. However, I'm not sure if there's a problem with `QuickBooks-V3-Java-SDK` or a something else going on with my project setup. Here are the lines I added in `pom.xml`:

[code]

[2020-03-06 21:30] diana-derose commented on #125
Thanks for letting me know. I'll do some more testing on my end and try to see if I can add all the dependency in the base pom and package it.

[2020-03-09 16:28] e-d commented on #125
@diana-derose I work with @mputnam-xima and wanted to be in-the-loop with what was happening. Thanks for looking into this.

[2020-03-30 08:35] kri5t opened #126 ""Failed getting access token" error"
We are using this SDK for the quickbooks to host an integration between Pleo and Quickbooks.

For the most part it is working fine, but we keep seeing occasional issues where this error is thrown:

	at com.intuit.oauth2.client.OAuth2PlatformClient.refreshToken(OAuth2PlatformClient.java:140)

We cannot reproduce it locally and the refresh tokens are working fine. Would it be possible with a more de

[2020-03-30 15:13] diana-derose commented on #126
Hi @kri5t  - Yes, that makes sense. It looks like the actual response is currently not send back in `BearerTokenResponse`. I'll add it to our backlog to send this back. Will take it up for the next release but feel free to send a PR if you like.

[2020-04-02 13:18] cjgratacos opened #127 "Issue when creating TaxService"
**Situation:**
Currently we have some customers that are using the old style of taxes for QBO. Because of this, we have to use the TaxServices for creating and syncing TaxCodes.

**Issue:**
When creating a TaxService using the QBO sdk, an exception is thrown during the JSON Deserializer interceptor. This is because of a type mismatch. When the type checker check if the type is TaxService, it is ac

[2020-04-03 23:16] diana-derose commented on #127
Hi @cjgratacos - We'll take a look at this and update it. Please feel free to send a PR.

[2020-04-07 00:36] shweta-intuitdev commented on #127
@cjgratacos - Can you send some code snippets of how you're creating the tax service, along with a sample JSON of the response you're receiving?

[2020-04-18 00:28] pennello opened #128 "request: include Intuit TID on OAuthException and FMSException"
After discussing a recent support ticket with Intuit staff, we found that neither the `OAuthException` nor the `FMSException` include the Intuit TID.  These would be very helpful in the Intuit QBO API SDK in order for us to provide that context to the support staff when debugging issues with particular failed API calls.  I'd like to make a feature request to have that value included on these (and

[2020-04-19 03:43] happyser opened #129 "GZIPCompressor should not use default platform encoding"
GZIPCompressor.Compress method uses default platform encoding for string. While quickbooks service expects data in UTF-8

 public byte[] compress(String data, byte[] uploadFile) throws CompressionException {
...
                baos = new ByteArrayOutputStream();
                gzout = new GZIPOutputStream(baos);
                gzout.write(data.getBytes()); //WRONG! should be data.getBytes(Stand

[2020-06-01 21:37] diana-derose commented on #127
Closing this @cjgratacos please share more info and reopen if this is still happening.

[2020-06-01 21:37] #127 closed, assigned to nobody

[2020-06-01 21:37] #125 closed, assigned to nobody

[2020-07-10 21:31] shweta-intuitdev commented on #128
@pennello - Hi! Thanks for the feedback. The SDK version 6.0.6 now includes the intuit_tid and detailed information on the OAuthException class. We have not yet added it to the FMSException.

[2020-07-10 21:32] shweta-intuitdev commented on #126
Hi @kri5t. The SDK version 6.0.6 now includes more detailed debug logs and additional fields on the OAuthException. Hope this helps.

[2020-07-10 21:32] #126 closed, assigned to nobody

[2020-07-10 22:23] pennello commented on #128
@shweta-intuitdev Hello!  You're welcome!  Thank you for your reply, and for the enhancement thus far.  We'll look forward to when the TID is available in addition on the FMS exception.  Thank you!

[2020-08-26 17:02] danjohnson11 opened #142 "Deserialization error when processing an ECheck for a business account"
When I set the BankAccount.accountType to BankAccount.AccountType.BUSINESS_SAVINGS or BankAccount.AccountType.BUSINESS_CHECKING and pass the ECheck to ECheckService.create() I get the follow error:

com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `com.intuit.payment.data.ECheck$PaymentModeType` from String "CCD": not one of the values accepted for Enum c

[2020-08-27 23:24] nimisha84 commented on #142
We have created IPP-17608 to this issue. Someone from our team will follow up with engineering.

[2020-08-29 02:59] Bing-ok opened #143 "“NoSuchMethodErrors” due to multiple versions of commons-codec:commons-codec:jar"
Hi, there are multiple versions of <b><i>commons-codec:commons-codec</i></b> in <b><i>QuickBooks-V3-Java-SDK\ipp-v3-java-devkit</i></b>. As shown in the following dependency tree, according to Maven's “nearest wins” strategy, only <b><i>commons-codec:commons-codec:1.3</i></b> can be loaded, and <b><i>commons-codec:commons-codec:1.11</i></b> will be shadowed.

As <b><i>commons-codec:commons-codec:1

[2020-08-29 03:01] Bing-ok commented on #143
Could you help me review this issue? 👍 Thanks! @nimisha84

[2020-09-10 19:42] fjolin-intuit commented on #143
Hi @Bing-ok - Thanks for documenting this so thoroughly.  We have hacktoberfest going on now and would love for you to contribute. Your first suggested solution looks good - but I'll leave it up to you :)

[2020-09-11 07:42] Bing-ok commented on #143
Thanks for your support. I have submitted the PR. @fjolin-intuit

[2020-09-17 14:00] #143 closed, assigned to nobody

[2020-09-25 18:29] fjolin-intuit commented on #142
Fixed in [release 6.0.10](https://github.com/intuit/QuickBooks-V3-Java-SDK/releases/latest)

[2020-09-25 18:29] #142 closed, assigned to nobody

[2020-09-29 05:10] rachanamamillapalli commented on #121
Hi @fjolin-intuit, I would like to work on this

[2020-09-29 05:11] rachanamamillapalli commented on #121
@diana-derose / @plcarmel  Is this still needed or some work is already going one?

[2020-09-29 11:52] plcarmel commented on #121
@rachanamamillapalli, that would be appreciated.

[2020-09-29 16:38] fjolin-intuit commented on #121
@rachanamamillapalli This is still needed - your contribution is welcomed :)

[2020-10-06 16:45] praveenadg commented on #128
I will look into adding Intuit TID on FMSException

[2020-10-06 16:46] fjolin-intuit commented on #129
Closing. Fixed with PR #139

[2020-10-06 16:46] #129 closed, assigned to nobody

[2020-10-06 16:49] pennello commented on #128
Thank you @praveenadg !

[2020-10-06 23:26] yzheng988 commented on #128
I'd like to work on the TID for OAuthException please confirm

[2020-10-07 23:56] diana-derose commented on #128
@yzheng988  - OAuthException already had tid. You can take up on FMSException as this PR #149 only adds the getter/setter on the class but the code to set the value in FMSException is not handled.

[2020-10-09 13:09] ashking94 commented on #121
@plcarmel @rachanamamillapalli is this being looked upon? I wanted to understand the issue and take a stab onto fixing this over the weekend.

[2020-10-09 13:24] plcarmel commented on #121
@ashking94, not by me.

[2020-10-09 17:48] rachanamamillapalli commented on #121
@ashking94 I'm working on this

[2020-10-17 22:02] rachanamamillapalli commented on #121
@fjolin-intuit @plcarmel @diana-derose Could you take a look at the PR linked to this issue.

[2020-10-18 18:29] mani-sreekakula commented on #128
@diana-derose I have added the support to pass intuit_tid from classes extended FMSException and actually set the value in code while throwing.

[2020-11-09 17:07] fjolin-intuit commented on #121
@rachanamamillapalli I spent some time looking at this - it would introduce some breaking changes which is ok as long as we version the release and put communication out beforehand.  Were you able to test this PR against a [sample](https://github.com/IntuitDeveloper/SampleApp-CRUD-Java)?   I tried this and couldn't get the dependencies to work out - I think it might be because the all project that

[2020-11-11 09:48] rachanamamillapalli commented on #121
@fjolin-intuit I haven't tested it on sample yet. Will try importing and update once I make any progress.

[2020-12-16 18:25] b69liu opened #155 "Unable to get ReimburseCharge query result"
When I execute the query and fetch the result, it should give me a list with size of 5
`String sql =  "Select * from ReimburseCharge Where HasBeenInvoiced = false";`
`QueryResult queryResult = this.service.executeQuery(sql);`
But I got an empty list, as
`queryResult.getEntities().size()` is 0
`queryResult.getTotalCount()` is 5

My environment:
ipp-v3-java-data: 6.1.0
ipp-v3-java-devkit: 6.1.0
oaut

[2021-01-06 21:05] b69liu commented on #155
After debugging for few days, I find the problem is that the ReimburseCharge class is not registered in the type locator.
I made a local clone and added
`put("ReimburseCharge", ReimburseCharge.class);`
in JsonResourceTypeLocator.java below
`put("RefundReceipt", RefundReceipt.class);`
Then it is working!

[2021-01-07 18:50] fjolin-intuit commented on #155
Hi @b69liu. thanks for looking into this.  I'll be adding your fix and testing today and will do a release.  Much appreciated!

[2021-01-08 18:49] fjolin-intuit commented on #155
Fixed in latest release - thanks @b69liu

[2021-01-08 18:49] #155 closed, assigned to nobody

[2021-04-16 11:22] malmyros commented on #126
Hi there, we are actually having a lot of trouble with this. The OAuthException isn't giving us any details of why this is happening or what we should do fix it.

Dependencies:

ipp-v3-java-data-6.0.10.jar
ipp-v3-java-data-6.0.10-sources.jar
ipp-v3-java-devkit-6.0.10-jar-with-dependencies.jar

This is our workflow:

1). System requests for data from quickbooks
2). Request fails because the token h

[2021-04-16 12:46] malmyros opened #159 "Failed getting access token"
We have implemented an integration with QuickBooks using the SDK but our customers are getting in a state where when a token has expired we can't refresh it using the OAuth2PlatformClient.

Dependencies:
ipp-v3-java-data-6.0.10.jar
ipp-v3-java-data-6.0.10-sources.jar
ipp-v3-java-devkit-6.0.10-jar-with-dependencies.jar

Workflow:

1). System requests for data from quickbooks
2). Request fails becau

[2021-05-12 15:25] fjolin-intuit commented on #159
@malmyros  Do you have any logs that you could send here with some context?  The headers in the response of the failed Oauth call will contain an intuit_tid which we could use to track down the issue.  Without logs I could only guess but a common issue is that the refresh token has changed in a previous call but was not persisted.  So when quickBooksSync.getRefreshToken() is returning an older ref

[2021-05-19 08:00] prajwal-wittyparrot commented on #159
Facing the same problem.

Have raised a pull request [#163](https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/163) with the fix.

Until the bug is fixed you can use rest client to refresh the token.

[2021-07-29 18:21] doAshok opened #166 "Upgrade common lang3 to latest"
As shown in the below dependency tree. The latest version of devkit still uses the legacy version on lang3.

org.apache.commons:commons-lang3:3.2.1 -> 3.9
\--- org.jvnet.jaxb2_commons:jaxb2-commons-lang:2.4
     \--- com.intuit.quickbooks-online:ipp-v3-java-data:6.1.2
          \--- com.intuit.quickbooks-online:ipp-v3-java-devkit:6.1.2
               \--- compile

It would be helpful if the jar is

[2021-08-02 18:56] #159 closed, assigned to nobody

[2021-08-30 18:30] othenos commented on #121
Is there any workaround for this problem? **module XXX reads package com.intuit.ipp.core from both ipp.v3.java.devkit and ipp.v3.java.data** I cannot seem to find an answer anywhere. There must be some developers who have moved beyond Java 8 and circumvented this somehow.

[2021-09-21 16:25] voidmain opened #170 "Config is not thread safe (uses a ThreadLocal)"
While working on a long running piece of code that reconciles between Stripe and QBO, I started a separate thread that calls the existing service code I wrote. When I did this I noticed that it started failing. This was due to the fact that `com.intuit.ipp.util.Config` uses a ThreadLocal to store configuration changes. While normally, this code worked fine because the service had already configure

[2021-10-03 15:39] MarErm27 opened #171 "Migrating from QuickBooks Desktop to QuickBooks Online"
Hello!
I was wondering if someone may be able to point me in the right direction.
There is a program that fetches bills, invoices and switches from site in JSON format, it converts it to XML and sends it to QuickBooks Desktop using QuickBooks Web Connector. How to make it to send these XML to QuickBooks Online instead of QuickBooks Desktop?

[2021-10-06 20:33] fjolin-intuit commented on #171
Hi @MarErm27! I am not sure what program you are working with exactly, and so I cannot speak to its intended functionality with QBO or QBD.  That being said, the Java sdk (or any of our supported SDKs for that matter) work under the premise that a connection is established with a Quickbooks Online company.  My suggestion would be to contact the app makers support, or look for an app that suits you

[2021-10-06 22:02] praveenadg commented on #166
Not able to assign to myself. I am looking into it.

[2021-10-07 06:00] #171 closed, assigned to nobody

[2021-10-27 19:15] fjolin-intuit commented on #166
fixed with #172

[2021-10-27 19:15] #166 closed, assigned to praveenadg

[2021-11-05 06:20] sukolenvo opened #175 "Class loading error in DevKit"
Error stacktrace:
[code]

Dependency tree (you can notice that both `org.ow2.asm:asm:7.1` and `asm:asm:3.3.1` included):
[code]
They are two version of same artifact ([link](https://mvnrepository.com/artifact/asm/asm)):
![image](https://user-images.githubusercontent.com/25821770/140466984-c6906d93-a86a-4870-a4d4-d66fdae4a34d.png)

Following dependency seems to cause the error ([link](https://githu

[2022-02-22 12:39] ashirman opened #179 "SDK does not work on JVM 17 (caused by CGLIB Enhancer)"
due to CGLIB's enhancer usage in SDK as this
[code]
attempts to use `createQueryEntity(...)` method cause runtime issue as this one
[code]

From what we were able to find most likely issue is caused by `Enhancer enhancer = new Enhancer();` see issue on CGLIG side https://github.com/cglib/cglib/issues/191

Looks like SDK contains just couple of places where CGLIG enhancer is used so assume long ter

[2022-02-24 18:24] fjolin-intuit commented on #179
Thanks @ashirman for reporting this.  We are have added for for this internally but it will not be prioritized until early May.  I realize there are not any good work arounds so we will not full support for Java 17+ until that time.  That being said we do encourage contribution from developers for things of this nature.

[2022-03-01 18:56] prowave opened #180 "Error 6000 on executeBatchAsync()"
I am trying to add 30 Accounts with `DataService.executeBatchAsync()`, and when I inspect my response in the callbackHandler ,all of the requests to add an `Account` entity are faulted with:

[code]

The request_id starting with `8182e07bba...` seems to be the same for every item in the batch.

I am not setting `request_id` to my knowledge.

My `bId` for the operations in the list are confirmed UU

[2022-03-01 19:06] prowave commented on #180
Update: I turned on DEBUG logging and see this in the logs.

https://sandbox-quickbooks.api.intuit.com/v3/company/4625319964620932638/batch?requestid=86e1e8438fd9413587c2bd17f4185b13&minorversion=63&

The requestid is clearly 32 characters.

[2022-03-22 15:49] daxyonis opened #181 "Error"
Trying to create a new customer in the sandbox environment using the SDK.
Here is the command:
`Customer newCustomer = dataService.add(customer);`
serialization format : json
compression format : gzip

The error is:
com.intuit.ipp.exception.FMSException: **ERROR CODE:2010**, ERROR MESSAGE:Request has invalid or unsupported property, ERROR DETAIL:Property Name:Invalid UTF-8 middle byte 0x6d specifi

[2022-04-07 06:37] sukolenvo opened #182 "Url's port ignored when Apache HTTP Client is used"
Default http transport is Apache HTTP Client ([link](https://github.com/intuit/QuickBooks-V3-Java-SDK/blob/ff20a52b67c2d0fbbb14cf5c4802e13a116c6d35/ipp-v3-java-devkit/src/main/java/com/intuit/ipp/util/Config.java#L176-L179)). But it doesn't support url port (ie. I can't use http://locahost:8080/ as `BASE_URL_QBO` in tests. Requests will be made to `localhost:80`).

I think root cause is that `-1`

[2022-07-08 14:49] genachka opened #190 "UnmarshalException retrieving company Entitlements"
Using QBO Java SDK 6.2.1 when retrieving a company's Entitlements where the company is on the Simple Start plan started getting an UnmarshalException error with code that worked several months ago. Plus plan and others work just fine.

Issuing: `EntitlementsResponse er = service.getEntitlements();`

results in: `com.intuit.ipp.exception.SerializationException: javax.xml.bind.UnmarshalException: un

[2022-07-09 11:29] genachka commented on #190
I discovered that the company for which this is happening has a `SubscriptionStatus` = `RESTRICTED` but according to https://developer.intuit.com/app/developer/qbo/docs/develop/troubleshooting/subscription-states this status still has `Read/Write` access but it looks like the QBO API is not returning back data? I've tested same code against a company where `SubscriptionStatus` = `SUBSCRIBED` and i

[2022-10-10 15:19] henryjcee commented on #190
Can't help but also running into the same issue with 6.2.2. @IntuitDeveloperRelations

[2022-10-18 01:30] Emilyhbx01 commented on #128
Hi, can you update IntuitBatchInterceptorProvider.java to throw FMSException with intuit_tid? Thanks.

[2022-10-18 20:40] praveenadg commented on #128
Sure. Created this [PR](https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/192)

[2022-11-14 22:46] pennello commented on #128
Looks like this may be resolved as of https://github.com/intuit/QuickBooks-V3-Java-SDK/releases/tag/6.2.3!  We'll validate.  Thank you @praveenadg !